.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 10rem;
}